apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ .Namespace }}
resources:
  - repository.yaml
  - release.yaml
configMapGenerator:
  - name: {{ .Component }}-values
    files:
      - values.yaml
